@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gorditas&display=swap');

p{
    font-family: 'Lobster', cursive;
}

button{
    font-family: 'Gorditas', cursive;
    margin-bottom: 5px;
    background: linear-gradient(rgba(147, 202, 233, 0.986), rgb(40, 145, 206));
    box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, 0.58);
    border-radius: 8px;
    color: white;
    margin-bottom: 1rem;
}

button:hover{
    cursor: pointer;
}